<nav>
  <ul class="nav__list">
    <li class="nav__item">
      <button class="nav__btn nav__btn--add-recipe">
        <svg class="nav__icon">
          <use href="../../../assets/icons.svg#icon-edit"></use>
        </svg>
        <span>Add recipe</span>
      </button>
    </li>
    <li class="nav__item">
      <button class="nav__btn nav__btn--bookmarks">
        <svg class="nav__icon">
          <use href="../../../assets/icons.svg#icon-bookmark"></use>
        </svg>
        <span>Bookmarks</span>
      </button>
      <!-- bookmarks component -->
      <app-bookmark-view class="bookmarks"></app-bookmark-view>
    </li>
  </ul>
</nav>